@font-face {
    font-family: Garamond-Bold;
    src: url('./font/CormorantGaramond-Bold.ttf');
}
@font-face {
    font-family: Garamond-Medium;
    src: url('./font/CormorantGaramond-Medium.ttf');
}
@font-face {
    font-family: Garamond-Regular;
    src: url('./font/CormorantGaramond-Regular.ttf');
}
@font-face {
    font-family: Garamond-Light;
    src: url('./font/CormorantGaramond-Light.ttf');
}
@font-face {
    font-family: Montserrat-Bold;
    src: url('./font/Montserrat-Bold.ttf');
}
@font-face {
    font-family: Montserrat-Medium;
    src: url('./font/Montserrat-Medium.ttf');
}
@font-face {
    font-family: Montserrat-Regular;
    src: url('./font/Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url('./font/Montserrat-SemiBold.ttf');
}