@import "../../sass/abstract/variable.scss";
.admin-panel {
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-height: fit-content;
  min-height: 100vh;
  color: $BRANDBLACK;
  width: 100%;
  gap: 24px;
  padding: 0;
  &__container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 24px;
  }
  &__nav {
    display: flex;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: $BRANDBLACK;
    color: $BRANDCREAMWHITE;
    &_logo {
      display: flex;
      align-items: center;
      width: 150px;
      min-width: 150px;
      margin-left: 12px;
      & svg {
        width: 100%;
      }
    }
    &_menu {
      display: flex;
      flex-direction: row;
      gap: 8px;
      height: 100%;
      & li:last-child {
        & a {
          cursor: pointer;
          &:hover {
            background-color: rgb(216, 57, 57);
          }
          & svg {
          }
        }
      }
      & li {
        display: flex;
        align-items: center;
        justify-content: center;
        & a {
          color: $BRANDCREAMWHITE;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: Montserrat-SemiBold;
          text-decoration: none;
          padding: 6px;
          border-radius: 12px;
          transition: all ease-in-out 0.25s;
          &:hover {
            background-color: #4b4a4a;
          }
          &:active {
            background-color: #505050;
          }
          & svg {
            width: 32px;
            height: 32px;
          }
          & span {
            font-size: 10px;
          }
        }
        .menu-active {
          background-color: #4b4a4a;
          &:active {
            background-color: #505050;
          }
          & svg {
            fill: $BRANDCREAMWHITE;
          }
        }
      }
    }
    &_exit {
      display: flex;
      border: none;
      background-color: transparent;
      height: 100%;
      align-items: center;
      cursor: pointer;
      font-family: Montserrat-SemiBold;
      color: $BRANDCREAMWHITE;
    }
  }
  &__content {
    display: flex;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
  }
}
