@import "../../sass/abstract/variable.scss";
.admin-panel{
    max-height: fit-content;
    min-height: 100vh;
    color: $BRANDBLACK;
    gap: 24px;
    &__nav{
        display: flex;
        width: 100%;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;
        background-color: $BRANDORANGE;
        padding: 0 12px;
        border-radius: 12px;
        &_logo{
            width: 150px;
            & svg {
                width: 100%;
            }
        }
        &_menu{
            display: flex;
            flex-direction: row;
            gap: 8px;
            height: 100%;
            & li {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__content{
        display: flex;
        width: 100%;
        box-sizing: border-box;
    }
}