@import "../../sass/abstract/variable.scss";
.service {
  display: flex;
  color: $BRANDBLACK;
  background-color: $BRANDCREAMWHITE;
  overflow: hidden;
  &__container.container {
    height: 100%;
    gap: 64px;
  }
  &__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 24px;
    overflow: hidden;
  }
  &__list {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    gap: 6px;
    border-right: 1px solid rgba($BRANDBLACK, 0.4);
    overflow-y: scroll;
    scrollbar-width: none;
    max-width: 440px;
  }
  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    font-family: Montserrat-SemiBold;
    font-size: 24px;
    text-align: left;
    opacity: 0.5;
    background-color: transparent;
    cursor: pointer;
    gap: 12px;
    padding: 0;
    text-wrap: balance;
    transition: all ease-in-out 0.25s;
    & svg:first-child {
      display: block;
      opacity: 0;
      transition: all ease-in-out 0.35s;
      width: 0;
    }
    &:hover {
      opacity: 0.8;
    }
    &--active {
      opacity: 1;
      position: sticky;
      top: 0;
      background-color: rgba($BRANDCREAMWHITE, $alpha: 0.5);
      backdrop-filter: blur(5px);
      z-index: 1;

      & svg:first-child {
        display: block;
        opacity: 1;
        width: 25%;
      }
    }
    & svg:last-child {
      min-width: 48px;
    }
  }
  &__detail {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 32px;
    height: 100%;
    max-width: 746px;
    &_services {
      flex-direction: column;
      overflow-y: scroll;
      scrollbar-width: none;
      flex: 1;
      
      & h2 {
      }
      & p {
        
      }
      & li {
        display: flex;
        justify-content: space-between;
        font-family: Montserrat-Medium;
        font-size: 20px;
        padding: 12px 0;
        border-bottom: 1px solid rgba($BRANDBLACK, $alpha: 0.2);
        & span {
          font-family: Montserrat-Bold;
        }
      }
    }
    & svg {
      align-self: center;
      & line {
        stroke: rgba($BRANDBLACK, $alpha: 0.5);
      }
    }
    & a {
      align-self: center;
    }
  }
  &__image {
    flex: 1;
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      aspect-ratio: 1/1;
      border-radius: 48px;
      opacity: 0;
      animation-name: showImg;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes showImg {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}