@import "./sass/base/typography.scss";
@import "./sass/base/reset.scss";
@import "./sass/layout/container.scss";
@import "./sass/abstract/variable.scss";
* ::selection{
    color: $BRANDORANGE;

}
.hide-animate{
    animation-name: hideanimate;
    animation-fill-mode: forwards;
    animation-duration: 1s;

}
.show-animate{
    
    animation-name: showanimate;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes showanimate {
    0%{
        opacity: 0;   
    }
    
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes hideanimate {
    0%{
        opacity: 1;
        transform: translateY(0); 
    }
    
    100%{
        opacity: 0;
        transform: translateY(20px);
    }
}